/* NAVBAR  */
.active {
  color: #000;
}

.nav-link {
  margin-left: 15px;
  font-size: 18px;
}

.inverse-dropdown {
  background-color: #222;
  border-color: #080808;
  margin-top: 1px;
  & > li > a {
    color: #999;
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
  & > .divider {
    background-color: #000;
  }
}
.inverse-dropdown:hover {
  background-color: #000000b3;
  display: block;
}

.pagination-right :hover {
  color: #000;
  cursor: pointer;
  opacity: 1;
}

.pagination-left :hover {
  color: #000;
  cursor: pointer;
  opacity: 1;
}

.pagination-right {
  position: fixed;
  bottom: 30%;
  right: 0;
  z-index: 99999;
  opacity: 0.5;
}

.pagination-left {
  position: fixed;
  bottom: 30%;
  left: 0;
  z-index: 99999;
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .pagination-left,
  .pagination-right {
    display: none;
  }
}

/* modal */

/*Google Buttons */
.modal-scrollbar {
  modal-open {
    overflow-y: auto;
  }
}

/* GOOGLE ICON */

.fa-google:hover {
  opacity: 0.9;
  background: #ff4e4e;
  cursor: pointer;
}

.fa-google {
  background: #ff6868;
  opacity: 0.8;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  border: none;
  border-radius: 7%;
}
